*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    width: 100%px;
    height: 90;
    padding: 20px 0px;
    line-height: 60px;
    background-color: #FFFFFF
}

#logo{
    height: 100%;
    vertical-align: middle;
}

#title{
    display: inline-block;
}


