*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    width: 100%px;
    height: 90;
    padding: 20px 0px;
    line-height: 60px;
    background-color: #FFFFFF;
}

main{
    width: 40%;
    background-color: #FFFFFF;
    margin: 10px auto 40px;
    
}

.task-section{
    border-bottom: 3px solid #F6F8F9 ;
    margin: 0 20px;
    border-radius: 5px;
}

.button{
    padding: 0.8em;
    border-radius: 10px;
    width: 10em;
}

#Task{
    background-color: #47ADF1;
    color: #FFFFFF;
    border: none;
}

#section{
    background-color: #FFFFFF;
    color: #D2D6D9;
    border: 1px solid #D2D6D9;
}

h3{
    margin: 10px;
}

p{
    margin: 20px 0;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

#title{
    display: inline-block;
}

.todo{
    border-radius: 5px;
}


.check{
    border-radius: 50%;
    border: 1px solid #A8DFD3;
    color: #A8DFD3;
    margin-left: 5px;
}

.cross{
    border-radius: 50%;
    border: 1px solid red;
    color:red;
    margin-left: 5px;
}

.editorial{
    width: 5em;
    font-size: 60%;
    background-color: #45ABE9;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}

.q1{
    width: 5em;
    font-size: 60%;
    background-color: #9C72E4;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}

.recruiting{
    width: 5em;
    font-size: 60%;
    background-color: #64C0A8;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    text-align: center;

}

.mobile{
    width: 5em;
    font-size: 60%;
    background-color: #F29E33;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    text-align: center;

}

.web{
    width: 5em;
    font-size: 60%;
    background-color: #E7A4C8;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    text-align: center;

}

.sales{
    width: 5em;
    font-size: 60%;
    background-color: #B0C926;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    text-align: center;

}



