*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    width: 100%px;
    height: 90;
    padding: 20px 0px;
    line-height: 60px;
    background-color: #FFFFFF;
}

main{
    width: 40%;
    background-color: #FFFFFF;
    margin: 10px auto 40px;
    
}

.task-section{
    border-bottom: 3px solid #F6F8F9 ;
    margin-bottom: 20px;
    border-radius: 5px;
}

h3{
    margin: 10px;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

#title{
    display: inline-block;
}

.check{
    border-radius: 50%;
    border: 1px solid #A8DFD3;
    color: #A8DFD3;
    margin-left: 5px;
}

.cross{
    border-radius: 50%;
    border: 1px solid red;
    color:red;
    margin-left: 5px;
}




